# General.
RPC_URL_ETHEREUM=
RPC_URL_HYPEREVM=
RPC_URL_OPTIMISM=
RPC_URL_ETHEREUM_TESTNET=
RPC_URL_HYPEREVM_TESTNET=

# Use https://www.helius.dev/ for mainnet
RPC_URL_SOLANA=https://api.mainnet-beta.solana.com
RPC_URL_SOLANA_TESTNET=https://api.devnet.solana.com

# Hardhat.
MNEMONIC=
PRIVATE_KEY=
